<center>
    <div class='card p-5' style='width: 25rem;'>
        <img src='{{img}}' class='card-img-top' alt='...' />
        <div class='card-body'>
            <h5 class='card-title'>{{name}}</h5>
            <p class='card-text'>{{desc}}</p>
            <p class="card-text">Giá bán: {{currency price}}</p>
            <a href='/' class='btn btn-outline btn-secondary'>Go back</a>
        </div>
    </div>
</center>